@{
    ViewData["Title"] = "IPO Result";
	Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/iporesult.css" />
}

<!-- ----------------------------------------- -->
<!--                 IPO Result                -->
<!-- ----------------------------------------- -->

<section class="container ptb60 text-center">
    <div class="sec-title">
        <h2>IPO RESULT</h2>
    </div>
    
    <div class="pt-3 iporessec">
        <div class="table">
            <div class="thead">
                <div class="tr">
                    <div class="th serial"><i class="fa-solid fa-circle-info"></i></div>
                    <div class="th company"> Company </div>
                    <div class="th lot"> Lot </div>
                    <div class="th face-value"> Face Value </div>
                    <div class="th premium"> Premium </div>
                    <div class="th discount"> Discount </div>
                    <div class="th sub-end"> Subscription End </div>
                    <div class="th allo-date"> Allocation Date </div>
                    <div class="th action"> Action </div>
                </div>
            </div>
            <div class="tbody">
                <div class="tr">
                    <div class="td serial">
                        <div>
                            <span>1</span>
                        </div>
                    </div>
                    <div class="td company" data-label="Company">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>1JANATAMF</span>
                        </div>
                        <div>
                            <span class="fa-solid fa-building icn"></span>
                            <span>Beximco Green-Sukuk Al Istisna'a</span>
                        </div>
                    </div>
                    <div class="td lot" data-label="Lot">
                        <div>
                            <span class="fa-solid fa-list-ol icn"></span>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="td face-value" data-label="Face Value">
                        <div>
                            <span class="fa-solid fa-tag icn"></span>
                            <span>100.00</span>
                        </div>
                    </div>
                    <div class="td premium" data-label="Premium">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>0.00</span>
                        </div>
                    </div>
                    <div class="td discount" data-label="Discount">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>0.00</span>
                        </div>
                    </div>
                    <div class="td sub-end" data-label="Subscription End">
                        <div>
                            <span class="fa-solid fa-calendar-days icn"></span>
                            <span>16 Aug 2021</span>
                        </div>
                    </div>
                    <div class="td allo-date" data-label="Allocation Date">
                        <div>
                            <span class="fa-solid fa-calendar-days icn"></span>
                            <span>16 Aug 2021</span>
                        </div>
                    </div>
                    <div class="td action" data-label="Action">
                        <a class="actlnk" href="">
                            <span class="fa-solid fa-file-pdf icn"></span>
                        </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td serial">
                        <div>
                            <span>11</span>
                        </div>
                    </div>
                    <div class="td company" data-label="Company">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>1JANATAMF</span>
                        </div>
                        <div>
                            <span class="fa-solid fa-building icn"></span>
                            <span>Beximco Green-Sukuk Al Istisna'a</span>
                        </div>
                    </div>
                    <div class="td lot" data-label="Lot">
                        <div>
                            <span class="fa-solid fa-list-ol icn"></span>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="td face-value" data-label="Face Value">
                        <div>
                            <span class="fa-solid fa-tag icn"></span>
                            <span>100.00</span>
                        </div>
                    </div>
                    <div class="td premium" data-label="Premium">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>0.00</span>
                        </div>
                    </div>
                    <div class="td discount" data-label="Discount">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>0.00</span>
                        </div>
                    </div>
                    <div class="td sub-end" data-label="Subscription End">
                        <div>
                            <span class="fa-solid fa-calendar-days icn"></span>
                            <span>16 Aug 2021</span>
                        </div>
                    </div>
                    <div class="td allo-date" data-label="Allocation Date">
                        <div>
                            <span class="fa-solid fa-calendar-days icn"></span>
                            <span>16 Aug 2021</span>
                        </div>
                    </div>
                    <div class="td action" data-label="Action">
                        <a class="actlnk" href="">
                            <span class="fa-solid fa-file-pdf icn"></span>
                        </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td serial">
                        <div>
                            <span>111</span>
                        </div>
                    </div>
                    <div class="td company" data-label="Company">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>1JANATAMF</span>
                        </div>
                        <div>
                            <span class="fa-solid fa-building icn"></span>
                            <span>Beximco Green-Sukuk Al Istisna'a</span>
                        </div>
                    </div>
                    <div class="td lot" data-label="Lot">
                        <div>
                            <span class="fa-solid fa-list-ol icn"></span>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="td face-value" data-label="Face Value">
                        <div>
                            <span class="fa-solid fa-tag icn"></span>
                            <span>100.00</span>
                        </div>
                    </div>
                    <div class="td premium" data-label="Premium">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>0.00</span>
                        </div>
                    </div>
                    <div class="td discount" data-label="Discount">
                        <div>
                            <span class="fa-solid fa-bangladeshi-taka-sign icn"></span>
                            <span>0.00</span>
                        </div>
                    </div>
                    <div class="td sub-end" data-label="Subscription End">
                        <div>
                            <span class="fa-solid fa-calendar-days icn"></span>
                            <span>16 Aug 2021</span>
                        </div>
                    </div>
                    <div class="td allo-date" data-label="Allocation Date">
                        <div>
                            <span class="fa-solid fa-calendar-days icn"></span>
                            <span>16 Aug 2021</span>
                        </div>
                    </div>
                    <div class="td action" data-label="Action">
                        <a class="actlnk" href="">
                            <span class="fa-solid fa-file-pdf icn"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>   

</section>


@section Scripts {
	<script type="text/javascript">
        $(document).ready(function () {

        });
	</script>
}