@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Styles {
	<link rel="stylesheet" href="~/css/login.css" />
}

<!-- ----------------------------------------- -->
<!--                   Login                   -->
<!-- ----------------------------------------- -->

<div class="login-section">
	<div class="welcome-text">
		<div class="weltxt">welcome to the</div>
		<div class="sec-title">
			<h2>client portal</h2>
		</div>
	</div>
	
	<div id="loginCard" class="login-card">
		<div class="get-otp-section">
			<div class="section-title">
				sign in
			</div>
			<div class="input-group">
				<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
				<input type="text" class="form-control" placeholder="Investor Code" aria-label="Username" aria-describedby="basic-addon1">
			</div>
			<div class="get-otp mt-2">
				<span class="mb-2 mb-lg-0">Get OTP By</span>
				<div class="otp-wrapper">
					<input type="radio" name="select" id="option-1">
					<input type="radio" name="select" id="option-2" checked>
					<label for="option-1" class="option option-1 mr-lg-3 mx-2">
						<div class="dot"></div>
						<span>E-Mail</span>
					</label>
					<label for="option-2" class="option option-2">
						<div class="dot"></div>
						<span>Phone</span>
					</label>
				</div>
			</div>
			<button id="otpBtn" type="button" onclick="countdown(0, 10)"
					class="btn btn-brand mt-3 w-100">
				SUBMIT
			</button>
		</div>
		<div class="otp-input-section">
			<div id="otpInput" class="input-group otp-input">
				<div class="alert alert-danger" role="alert">
					Your OTP has been sent to your E-Mail/Phone
				</div>
				<div class="otp-user-info mb-3">
					<div class="name-image">
						<div>
							<img src="~/images/useravater.png" alt="">
						</div>
						<p class="ms-3">
							<strong>MD. NEOUS MORSHED METTU</strong>
							<span>
								A5421
							</span>
						</p>
					</div>
					<div class="email-phone mt-2">
						<span><i class="fa-solid fa-envelope"></i> &nbsp;adi@ucasbd.com</span>
						<span class="mt-2"><i class="fa-solid fa-phone"></i>&nbsp; 01625423992</span>
					</div>
				</div>		

				<div class="input-group">
					<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
					<input type="text" class="form-control" placeholder="Enter your OTP" aria-label="OTP" aria-describedby="basic-addon1" style="border-bottom-right-radius: .25rem; border-top-right-radius: .25rem;">
					<button id="resetBtn" title="Resend OTP" onclick="countdown(0,5)" class="btn btn-reset-otp ml-3">
						<i class="fas fa-undo"></i>
					</button>
				</div>
				<div id="otpTimer" class="alert alert-warning otp-timer mt-2">
				</div>
				<button type="button" onclick="window.location.href='@Url.Action("CapitalGainLossStatement", "ClientPortal")'" class="btn btn-brand mt-3 w-100">
					SUBMIT
				</button>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});
	</script>
}