@{
    ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<!-- ----------------------------------------- -->
<!--                  PROFILE                  -->
<!-- ----------------------------------------- -->

<section class="container ptb60">

    <div class="card brndcard mb-4">
        <div class="card-body">
            <div class="row g-3 dflx">
                <div class="col-lg-6">
                    <div class="uininfwrap">                        
                        <img src="~/images/useravater.png" alt="">
                        <div class="unpwrap">
                            <h2 class="uname">MD. NEOUS MORSHED METTU ISLAM</h2>
                            <div class="uphone">1203470021894545</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="unaep"><span class="fa-solid fa-location-dot icn"></span> <span>FERDOUS CASTLE, FLT # 1AB 840/981, NORTH AGRABAD, MUHURIPARA</span></div>
                    <div class="unaep"><span class="fa-solid fa-envelope icn"></span> <span>qeefewq@example.com</span></div>
                    <div class="unaep"><span class="fa-solid fa-phone icn"></span> <span>0171123456789</span></div>
                </div>                
            </div>
        </div>
    </div>

    <div id="verticalTab">
        <ul class="resp-tabs-list">
            <li>BASIC INFORMATION</li>
            <li>CONTACT</li>
            <li>OTHERS</li>
            <li>ACCOUNT INFORMATION</li>
            <li>BANK INFORMATION</li>
        </ul>
        <div class="resp-tabs-container">
            <div>
                <div class="dfw">
                    <div class="udfv">
                        <div class="userainfotitle">Client Code</div>
                        <div class="userainfodes">C23</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Date Of Birth</div>
                        <div class="userainfodes">23/09/1971</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Father's Name</div>
                        <div class="userainfodes">SHAFIQUL ISLAM</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Mother's Name</div>
                        <div class="userainfodes">JAMILA BEGUM</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Gender</div>
                        <div class="userainfodes">Male</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">National Id</div>
                        <div class="userainfodes">12345678</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dfw">
                    <div class="udfv">
                        <div class="userainfotitle">Phone (Resident)</div>
                        <div class="userainfodes">01716221794</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Phone (Office)</div>
                        <div class="userainfodes">01716221794</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Eme. Contact No.</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Mobile</div>
                        <div class="userainfodes">01716221794</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Email</div>
                        <div class="userainfodes">neusmorshedmettu@gmail.com</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Fax</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dfw">
                    <div class="udfv">
                        <div class="userainfotitle">ETIN</div>
                        <div class="userainfodes">01713104900</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Driving License No.</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Special Instruction</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">City</div>
                        <div class="userainfodes">Dhaka</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Birth Cert. No.</div>
                        <div class="userainfodes">0050411002590</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">PostCode</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dfw">
                    <div class="udfv">
                        <div class="userainfotitle">BOID</div>
                        <div class="userainfodes">1203470021894545</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">TAX Rate</div>
                        <div class="userainfodes">10</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Link BO</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">DP Branch</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Broker Branch</div>
                        <div class="userainfodes">CDA Avenue Branch</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">RegNo</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Investor Type</div>
                        <div class="userainfodes">Resident Bangladeshi</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">BO Category</div>
                        <div class="userainfodes">Regular</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Interest Rate</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">BO Opening Date</div>
                        <div class="userainfodes">16/09/2009</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Sub Account</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Max Loan</div>
                        <div class="userainfodes">10000000</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Counter Party Rate</div>
                        <div class="userainfodes">0</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Comission Rate</div>
                        <div class="userainfodes">0.4</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">IRN</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Loan Ratio</div>
                        <div class="userainfodes">0.5</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Broker Name</div>
                        <div class="userainfodes">Cordial Securities Limited</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Trader</div>
                        <div class="userainfodes">CTG01 - MOHAMMAD ASRAFUL MOWLA BHUIYAN</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Introducer</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Minimum Comission</div>
                        <div class="userainfodes">10</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">AccountT Type</div>
                        <div class="userainfodes">Non Margin</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Omnibus Investor Code</div>
                        <div class="userainfodes">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="dfw">
                    <div class="udfv">
                        <div class="userainfotitle">Bank</div>
                        <div class="userainfodes">BANK ASIA LTD.</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Bank Branch</div>
                        <div class="userainfodes">BANK ASIA BHABAN</div>
                    </div>
                    <div class="udfv">
                        <div class="userainfotitle">Bank Account No.</div>
                        <div class="userainfodes">0050411002590</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/easy-responsive-tabs.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
	</script>
}