@{
	ViewData["Title"] = "Contact Us";
}
@section styles{
	<link href="~/css/contact.css" rel="stylesheet" />
}

<!-- ----------------------------------------- -->
<!--                  Contact Us               -->
<!-- ----------------------------------------- -->
<section class="container ptb60 text-center">
    <div class="sec-title">
        <h2>Contact Us</h2>
    </div>
    <div class="sec-desc pt30">
		<div class="card brndcard">
			<div class="card-header">
				<div class="headingtxt">OUR BRANCHES</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-4 posrel">
						<div class="contactContentWrap">
							<div class="titletxt"><span class="fa-solid fa-location-dot icn"></span>HEAD OFFICE</div>
							<div class="descriptxt">
								Al-haj Tower, 2nd Floor (Lift Level-01),<br />
								82 Motijheel C/A, Dhaka-1000.<br />
								Tel: +880-2-47121574 & +880-2-47121575<br />
								Email: info@barakasecurities.com
							</div>
						</div>
					</div>
					<div class="col-lg-4 posrel">
						<div class="contactContentWrap">
							<div class="titletxt"><span class="fa-solid fa-phone icn"></span>CONTACT PERSON</div>
							<div class="cperinfo">
								<div class="contactnmetxt">Mohammad Sayedur Rahman</div>
								<div class="contactdestxt">
									sayedur@barakasecurities.com
								</div>
							</div>
							<div class="cperinfo">
								<div class="contactnmetxt">G. M. Akramul Haque</div>
								<div class="contactdestxt">
									akram@barakasecurities.com
								</div>
							</div>
							<div class="cperinfo">
								<div class="contactnmetxt">Moinul Amin</div>
								<div class="contactdestxt">
									+880 1929-996507,<br />
									moinul@barakasecurities.com
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="contactContentWrap">
							<div class="titletxt"><span class="fa-regular fa-clock icn"></span>OFFICE HOURS</div>
							<div class="descriptxt">
                                <strong>Sun to Thur:</strong>  9:00 AM to 4:30 PM<br />
								<strong>Fri & Sat:</strong> <span class="txtred"><strong>Closed</strong></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	<div class="sec-desc pt30">
		<div class="card brndcard">
			<div class="card-header">
				<div class="headingtxt">LOCATION MAP</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="contactContentWrap">
                            <div class="titletxt"><span class="fa-solid fa-location-dot icn"></span><u>HEAD OFFICE</u></div>
                        </div>
						<iframe width="100%" height="300" allowfullscreen="" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58423.37992814857!2d90.37309465240169!3d23.766584140049837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bebdfbd1af7f%3A0x64e28cbb4851cf73!2sbarakasecurities!5e0!3m2!1sen!2sbd!4v1684406089411!5m2!1sen!2sbd"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

		});
    </script>
 }