/*================================
=            uiversal            =
================================*/
:root {
    --brandcolor: #E42226;
    --darkbrandcolor: #730202;
    --orngecolor: #F25C05;
    --yellcolor: #F2B705;
    --liblucolor: #E9F0F2;
    --darkgrncolor: #58584E;
    --ligrncolor: #A3A194;
    --darkbrncolor: #D8D1C1;
    --librncolor: #FFFCE9;
    --darkashcolor: #B3B3B3;
    --liashcolor: #DDDDDD;
    --lighashcolor: #F0F0F2;
    --dgreencolor: #00813f;
    --dashcolor: #545454;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
}

.pt15 {
    padding-top: 15px;
}
.pt30 {
    padding-top: 30px;
}
.pt60 {
    padding-top: 60px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb30 {
    padding-bottom: 30px;
}
.pb60 {
    padding-bottom: 60px;
}
.ptb15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ptb60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.mt15 {
    margin-top: 15px;
}
.mt30 {
    margin-top: 30px;
}
.mt60 {
    margin-top: 60px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb60 {
    margin-bottom: 60px;
}
.mtb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.mtb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mtb60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.sec-title {
    width: 100%;
}
.sec-title h2 {
    border-radius: 50px;
    border-right-color: var(--brandcolor);
    border-left-color: var(--brandcolor);
    border: 1px solid var(--brandcolor);
    border-right-width: 12px;
    border-left-width: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right-width: 12px;
    border-left-width: 12px;
    padding: 5px 15px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--brandcolor);
    text-transform: uppercase;
    margin-bottom: 0px;
}
.sec-desc {
    text-align: justify;
    text-align-last: center;
}
.brndcard {
    border-radius: 0px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
    filter: drop-shadow(-2px 4px 5px rgba(20, 118, 163, 0.233));
    border: none;
}
.brndcard .card-header {    
    color: var(--bs-white);
    background-color: var(--brandcolor);
    border-bottom: none;    
}
.brndcard .card-header:first-child {
    border-radius: 0;
}
.ui-datepicker {
    font-family: var(--bs-font-sans-serif);
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: var(--bs-font-sans-serif);
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: var(--brandcolor);
    color: var(--bs-white);
    font-weight: 700;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid var(--darkbrandcolor);
    background:var(--brandcolor);
    color: var(--bs-white);
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid var(--brandcolor);
    background: var(--darkbrandcolor);
    color: var(--bs-white);
}
.btn-brand {
    text-decoration: none;
    color: var(--brandcolor);
    background-color: var(--bs-white);
    border-color: var(--brandcolor);
    border-radius: 20px;
    font-weight: 700;
}
.btn-brand:hover,
.btn-brand:active,
.btn-brand:focus,
.btn-brand.active,
.btn-brand:first-child:active {
    color: var(--bs-white);
    background-color: var(--brandcolor);
}
.btn-brand .icn{
    margin-right: 5px;
}
/*=====  End of uiversal  ======*/
/*===============================
=            header            =
===============================*/
header {
    box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
}
.hwrap {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bs-white);
}
.navbar-toggler {
    display: none;
}
header .nav-link,
header .navbar-nav .nav-link.active,
header .navbar-collapse.collapse.show .navbar-nav .nav-link,
header .navbar-collapse.collapse.show .navbar-nav .nav-link.active {
    color: var(--bs-white);
    font-weight: 700;
    text-transform: uppercase;
}
header .nav-link .icn {
    display: none;
}
header .navbar-nav .nav-link.show {
    color: var(--brandcolor);
    font-weight: 700;
    text-transform: uppercase;
}
header .navbar-collapse.collapse.show .navbar-nav .nav-link.show {
    color: var(--brandcolor);
    background-color: var(--bs-white);
    font-weight: 700;
    text-transform: uppercase;
}
header .nav-link:hover,
header .nav-link:focus,
header .navbar-nav .nav-link.active:hover,
header .navbar-nav .nav-link.active:focus{
    color: var(--brandcolor);
    background-color: var(--bs-white);
}
header .navbar-collapse.collapse.show .nav-link:hover,
header .navbar-collapse.collapse.show .nav-link:focus,
header .navbar-collapse.collapse.show .navbar-nav .nav-link.active:hover,
header .navbar-collapse.collapse.show .navbar-nav .nav-link.active:focus {
    color: var(--bs-white);
    background-color: var(--brandcolor);
}
header .nav-link.disabled,
header .nav-link:disabled {
    color: rgba(255, 255, 255, 0.75) !important;
}
header .logonmenuwrap{
    display: inline-block;
    padding: 5px 10px;
}
header .logonmenuwrap img{
    max-height: 60px; 
}
header .navbcolor {
    --bs-bg-opacity: 1;
    background-color: var(--brandcolor);
    padding: 0px;
    width: 100%;
}
header .btn-th {    
    background: var(--brandcolor);
    color: var(--bs-white);
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--bs-white);
}
header .btn-th:hover,
header .btn-th:active,
header .btn-th:focus {
    background: var(--bs-white);
    color: var(--brandcolor);
}
header .actbtnmview {
    display: flex;
    align-items: center;
}
header .actbtnmview .btn-th {        
    background: var(--bs-white);
    color: var(--brandcolor);
    border: 1px solid var(--brandcolor);
}
header .actbtnmview .btn-th:hover,
header .actbtnmview .btn-th:active,
header .actbtnmview .btn-th:focus {
    background: var(--brandcolor);
    color: var(--bs-white);
}
header .btn-th .icn{
    margin-right: 5px;
}
header .actbtnmview .btn-th .stxt {
    display: none;
}
header .actbtnmview .icn {
    margin-right: 0px;
}
header .navbar-nav .dropdown-menu {
    padding: 0px;
    overflow: hidden;
    background-color: var(--bs-white);
    border-color: var(--brandcolor);
    -webkit-box-shadow: 0 12px 20px rgba(0,0,0,.5);
    box-shadow: 0 12px 20px rgba(0,0,0,.5);
}
header .navbar-nav .dropdown-menu .dropdown-item {    
    color: var(--brandcolor);
    text-transform: uppercase;
    border-top: 1px solid var(--brandcolor);
}
header .navbar-nav .dropdown-menu .dropdown-item .icn {
    display: none;
}
header .navbar-nav .dropdown-menu li:first-child > .dropdown-item {
    border-top: none;
}
header .navbar-nav .dropdown-menu .dropdown-item:hover,
header .navbar-nav .dropdown-menu .dropdown-item:active,
header .navbar-nav .dropdown-menu .dropdown-item:focus {
    color: var(--bs-white);
    background-color: var(--brandcolor);
}
header .navbar-nav .dropdown-menu .dropdown-item.active {
    background-color: var(--brandcolor);
    color: var(--bs-white);
}
header .navbar-nav .dropdown-menu .dropdown-divider {
    border-top: 1px solid var(--bs-white);
}
.ibntwrap {
    width: calc(100% - 115px);
    padding: 0.25rem 0.75rem;
    border: var(--bs-border-width) solid rgba(var(--bs-emphasis-color-rgb), 0.15);
    border-radius: var(--bs-border-radius);
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin: 5px 10px 5px 0px;
    position: relative;
}
.ibntwrap .tawrap {
    position: absolute;
    right: 0px;
    width: 30px;
    background-color: var(--bs-white);
    padding: 0px 0px 0px 10px;
    overflow: hidden;
    line-height: 1;
}
.ibntwrap .speedcwrapl {
    position: absolute;
    left: 0px;
    z-index: 10;
    top: 45%;
    transform: translateY(-50%);
}
.ibntwrap .speedcwrapr {
    position: absolute;
    right: 30px;
    z-index: 10;
    top: 45%;
    transform: translateY(-50%);
}
.ibntwrap .speedcwrapl button,
.ibntwrap .speedcwrapr button {
    border: none;
    background-color: var(--brandcolor);
    color: var(--bs-white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0px;
    font-size: 10px;
    display: inline-block;
    text-align: center;
}
.ibntwrap .tawrap button {
    border: none;
    background-color: var(--bs-white);
    color: var(--brandcolor);
    border-radius: 50%;
    padding: 0px;
    font-size: 14px;
}
#tick li, #tick2 li {
    list-style-type: none;
    position: absolute;
    left: 0px;
}
#tick, #tick2 {
    position: relative;
    display: block;
    width: 5000px;
    margin: 0;
    content : "";
    display: table;
    height: 0px;
}
#market_performance__ticker {
    width: 100%;
    height: 34px;
}
.ticker__item {
    display: inline-flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.5;
}
.ticker__item .blk {
    display: inline-flex;
    margin-right: 10px;
}
.ticker__item .icon {
    display: inline-block;
    font-size: 12px;
}
.ticker__item .blk .info {
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    display: inline-block;
}
.ticker__item .blk .info div {
    display: flex;
    justify-content: space-between;
}
.ticker__item .blk .info div span {
    margin-right: 10px;
}
.ticker__item .blk .info div span:last-child {
    margin-right: 0px;
}
.ticker__item .blk .icon.red-ico {
    color: var(--brandcolor);
}
.ticker__item .blk .icon.dark-ico {
    color: var(--dashcolor);
}
.ticker__item .blk .icon.green-ico {
    color: var(--dgreencolor);
}
.ticker-container {
    display: flex;
    overflow: hidden;
}

/*=====  End of header  ======*/
.copyright {
    display: flex;
    align-items: center;
    background: var(--darkbrandcolor);
    color: var(--bs-white);
    padding: 5px 10px;
    justify-content: space-between;
    font-size: 14px;
}
.copyright .ucas img {
    width: 100%;
    max-width: 50px;
    margin-left: 10px;
}

@media (max-width: 991px) {
    /*=====  header  ======*/
    .navbar-toggler {
        padding: 0.15rem 0.45rem;
        font-size: 1.25rem;
        line-height: 1;
        color: rgba(var(--bs-emphasis-color-rgb), 0.65);
        background-color: transparent;
        border: var(--bs-border-width) solid rgba(var(--bs-emphasis-color-rgb), 0.15);
        border-radius: var(--bs-border-radius);
        transition: var(--bs-navbar-toggler-transition);
        display: inline-block;
        margin: 0px 0px;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .ibntwrap {
        width: 100%;
        margin: 5px 10px;
        line-height: 1;
    }
    header .logonmenuwrap {
        display: flex;
        width: 100%;
        padding: 5px 10px;
    }
    .hwrap {
        margin-right: -1px;
    }
    header .logonmenuwrap img {
        max-height: 45px;
    }
    header .actbtnmview {
        margin-left: auto;
        margin-right: 15px;
    }
    header .navbar-nav .dropdown-menu {
        padding: 0px;
        overflow: hidden;
        border: none;
        border-radius: 0px;
        background-color: var(--brandcolor);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    header .navbar-nav .dropdown-menu .dropdown-item {
        border-top: none;
        color: var(--bs-white);
        border-top: 1px solid var(--brandcolor);
    }
    header .navbar-nav .dropdown-menu .dropdown-item:hover,
    header .navbar-nav .dropdown-menu .dropdown-item:active,
    header .navbar-nav .dropdown-menu .dropdown-item:focus {
        color: var(--bs-white);
        background-color: var(--brandcolor);
    }

    header .navbar-collapse.collapse.show .navbar-nav .nav-link.disabled,
    header .navbar-collapse.collapse.show .navbar-nav .nav-link:disabled {
        color: rgba(255, 255, 255, 0.75) !important;
    }
    header .nav-link .icn{
        display: inline-block;
        margin-right: 10px;
    }
    header .navbar-nav .dropdown-menu .dropdown-item .icn{
        display: inline-block;
        margin-right: 10px;
    }
    header .navbar-collapse.collapse.show .navbar-nav .nav-link.show {
        color: var(--bs-white);
        background-color: var(--brandcolor);
    }
    .ibntwrap .tawrap {
        line-height: 0;
    }
    /*=====  footer  ======*/
    .copyright {
        flex-direction: column;
        text-align: center;
    }
}
/*=====  End of footer  ======*/


