
/*==============================
=            header            =
==============================*/
.lhwrap {
    display: flex;
    justify-content: center;
    background-color: var(--bs-white);
}
.login-section .login-card .section-title {
    color: var(--bs-light-text-emphasis);
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.avatar-wrapper {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid var(--brandcolor);
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10px;
}
.user-avatar {
    width: 30px;
}
.login-card {
    background: #ffffff;
    padding: 15px;
    position: absolute;
    right: 165px;
    top: 105px;
    z-index: 16;
    opacity: 0;
    transition: opacity 0.3s ease;
    max-width: 400px;
    width: 100%;
    display: none;
}
.login-card.show {
    display: block;
}
.login-card.active {
    opacity: 1;
}
.get-otp {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #0000002e;
    align-content: center;
    align-items: center;
    border-radius: .25rem;
}
.get-otp span {
    margin-right: 20px;
}
.get-otp .form-check {
    display: inline-block;
}
.otp-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
.otp-wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid var(--bs-border-color);
    transition: all 0.3s ease;
    margin-bottom: 0;
    border-radius: .25rem;
}
.otp-wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: var(--bs-border-color);
    border-radius: 50%;
    position: relative;
}
.otp-wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: var(--brandcolor);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
input[type="radio"] {
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
    border-color: var(--brandcolor);
    background: var(--brandcolor);
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
    background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}
.otp-wrapper .option span {
    color: #808080;
    margin-left: 10px;
    margin-right: 5px;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
    color: #fff;
}
.otp-input {
    display: none;
    opacity: 0;
    transition: opacity 1s ease, height 1s ease;
}
.otp-input.show {
    display: flex;
}
.otp-input.active {
    opacity: 1;
}
.otp-timer {
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 0;
}
.otp-user-info {
    display: flex;
    flex-basis: 100%;
    border: 1px solid lightgray;
    overflow: hidden;
    align-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    border-radius: .25rem;
}
.otp-user-info .name-image {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
}
.otp-user-info .name-image div {
    display: flex;
    align-items: flex-start;
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--liblucolor);
    overflow: hidden;
    flex-shrink: 0;
}
.otp-user-info .name-image p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.otp-user-info .name-image span {
    text-transform: uppercase;
    background: var(--liblucolor);
    padding: 2.5px 5px;
    color: var(--bs-light-text-emphasis);
    font-size: 14px;
    border-radius: .25rem;
}
.otp-user-info img {
    border-radius: 100px;
    max-width: 50px;
    width: 100%;
}
.otp-input-wrapper {
    display: flex;
    flex-basis: 100%;
}
.otp-user-info .email-phone {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.otp-user-info .email-phone span {
    background: var(--liblucolor);
    padding: 5px 10px;
    color: var(--bs-light-text-emphasis);
    border-radius: .25rem;
}
.otp-input .alert {
    width: 100%;
}
header .hwrap .dvactwrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}
header .hwrap .dvactwrap .userdetwrap {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
}
header .hwrap .dvactwrap .userdetwrap:after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    border-right: 1px solid var(--bs-border-color);
}
header .hwrap .dvactwrap .userdetwrap img,
header .hwrap .userdetmview .userdetwrap img {
    height: 36px;
    width: 36px;
    margin: 0 10px 0 0;
    border-radius: 36px;
    border: 1px solid var(--liblucolor);
}
header .hwrap .dvactwrap .userdetwrap .user-name {
    white-space: nowrap;
    max-width: 242px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
header .hwrap .dvactwrap .userdetwrap .user-name .uname {
    color: var(--bs-light-text-emphasis);
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
header .hwrap .actbtnwrap {
    display: inline-flex;
    align-items: center;
}
header .hwrap .actbtnwrap .acc-btn .btn-th {
    text-decoration: none;
    color: var(--brandcolor);
    background-color: var(--bs-white);
    border: 1px solid var(--brandcolor);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
}
header .hwrap .actbtnwrap .acc-btn .btn-th:hover,
header .hwrap .actbtnwrap .acc-btn .btn-th:active,
header .hwrap .actbtnwrap .acc-btn .btn-th:focus {
    color: var(--bs-white);
    background-color: var(--brandcolor);
}
.table .thead .tr, .table .tbody .tr {
    display: flex;
    color: var(--bs-white);
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}
.table .thead .tr {
    color: var(--bs-white);
    background-color: var(--brandcolor);
    border-radius: 4px;
    overflow: hidden;
}
.table .thead .tr .th {
    color: var(--bs-white);
    background-color: var(--brandcolor);
    font-weight: 600;
    flex-grow: 1;
}
.table .tbody .tr .td {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: left;
}
.table .tbody .tr {
    margin-top: 10px;
    /*border: 1px solid var(--bs-border-color);*/
    background-color: var(--bs-white);
    filter: drop-shadow(-2px 4px 5px rgba(20, 118, 163, 0.233));
}
.table .tbody .tr .td .status {
    padding: 2px 5px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    font-size: 14px;
}
.table .tbody .tr .td .status-success {
    background: var(--dgreencolor);
    color: var(--bs-white);
}
.table .tbody .tr .td .status-danger {
    background: var(--brandcolor);
    color: var(--bs-white);
}
.table .tbody .tr .td .status-warning {
    background: var(--bs-yellow);
    color: var(--bs-body-color);
}
.table .tbody .tr .td div {
    display: flex;
    align-items: center;
}
.table .tbody .tr .td div .icn {
    margin-right: 5px;
    color: var(--darkbrandcolor);
    font-size: 14px;
}
.actlnk {
    color: var(--brandcolor);
    font-size: 22px;
}
/*=====  End of header  ======*/
@media (max-width: 576px) {
    .login-card {
        max-width: 350px;
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .lhwrap .logonmenuwrap {
        display: flex;
        width: auto;
        padding: 5px 10px;
    }
    header .logonmenuwrap .navbar-toggler {
        margin-left: auto;
    }
    header .actbtnmview {
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        margin: 5px 0px 10px 0px;
    }
    header .hwrap .userdetmview {
        margin-top: 10px;
        border-bottom: 1px solid var(--bs-white);
        padding-bottom: 5px;
    }
    header .hwrap .userdetmview .userdetwrap {
        display: inline-flex;
        align-items: center;
        position: relative;
        padding-right: 0px;
        margin-right: 0px;
        text-decoration: none;
    }
    header .hwrap .userdetmview .userdetwrap .user-name .uname {
        color: var(--bs-white);
        line-height: 1.2;
    }
    header .hwrap .actbtnmview .acc-btn .btn-th {
        background: var(--brandcolor);
        color: var(--bs-white);
        border: 1px solid var(--bs-white);
    }
    header .hwrap .actbtnmview .acc-btn .btn-th:hover,
    header .hwrap .actbtnmview .acc-btn .btn-th:active,
    header .hwrap .actbtnmview .acc-btn .btn-th:focus {
        background: var(--bs-white);
        color: var(--brandcolor);
    }
    header .hwrap .actbtnmview .acc-btn .btn-th .stxt {
        display: inline-block;
    }
    header .hwrap .actbtnmview .acc-btn .btn-th .icn {
        margin-right: 5px;
    }
    .table .tbody .tr {
        flex-wrap: wrap;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }
    .thead {
        display: none;
    }
    .table .tbody .tr .td {        
        justify-content: space-between;
        padding-bottom: 0px;
    }
    .table .tbody .tr .td:first-child {
        padding-top: 15px;
    }
    .table .tbody .tr .td:last-child {
        padding-bottom: 15px;
    }
    .table .tbody .tr .td:before {
        content: attr(data-label);
        float: left;
        margin-right: 10px;
        font-weight: 600;
        font-size: 14px;
        color: var(--bs-body-color);
    }
}



